body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.cabecalho {
  width: 100%;
  height: 60px;
  background: #333;
  color: white;
  padding: 1rem;
  margin: 0 0 0 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.btn {
  color: white;
  text-decoration: none;
  transform: scale(1);
  transition: 1s;
  margin-left: 20px;
}
.btn:hover {
  transition: 1s;
  transform: scale(1.1);
}

/* header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

header ul li {
  margin: 0 1rem;
}

header ul li a {
  color: white;
  text-decoration: none;
} */

#hero {
  background: #f4f4f4;
  text-align: center;
  padding: 2rem;
}

.project-grid {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.project-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  width: 300px;
  text-align: center;
}

.footer-inp {
  margin-top: 32%;
  text-align: center;
  background: #333;
  color: white;
  padding: 1rem 0;
}
.footer-pro {
  margin-top: 16%;
  text-align: center;
  background: #333;
  color: white;
  padding: 1rem 0;
}
.footer-insp {
  margin-top: 28%;
  text-align: center;
  background: #333;
  color: white;
  padding: 1rem 0;
}
.footer-home {
  margin-top: 18.9%;
  text-align: center;
  background: #333;
  color: white;
  padding: 1rem 0;
}
.dark-mode {
  background: #121212;
  color: white;
}
img {
  height: 150px;
  width: 150px;
}
.container-projects {
  display: grid;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 400px);
}
.text-projects {
  position: absolute;
  font-style: oblique;
  font-size: 20px;
  margin-left: 10px;
}
.text-passos {
  position: absolute;
  margin-left: 300px;
  margin-top: 200px;
}
.text-passos2 {
  position: relative;
  margin-left: 30px;
  margin-top: 200px;
  font-weight: normal;
}
.text-passos3 {
  position: relative;
  margin-left: 30px;
  margin-top: 200px;
  font-weight: normal;
}

.text {
  margin-left: 47%;
}
.text-footer {
  text-align: center;
  color: white;
  padding: 1rem 0;
  text-decoration: none;
}
.toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-links {
  text-decoration: none;
  background-color: black;
  border-radius: 7px;
  color: white;
  padding: 7px;
}
.btn-links:hover {
  transition: 1s;
  border-radius: 7px 0 7px 0;
}